<h1>New Post</h1>
<form action="/new" method="post">
  <label for="title">Title:</label><br />
  <input id="title" name="post[title]" type="text" />
  <br />

  <label for="body">Body:</label><br />
  <textarea id="body" name="post[body]" rows="10"></textarea>
  <br />

  <button type="submit">Save</button>
</form> 